@charset "UTF-8";


@media (max-width:1490px){
  #wrap #main #section4.move .container .img_box{
    right: 42%;
  }
}

@media (max-width:1430px){
  .quick_menu{
    left: 100%;
    margin-left: -140px;
  }
}

@media (max-width:1280px){
  #wrap #main #section6 .container .left{
    width: 32.909%;
  }
  #wrap #main #section6 .container .left h2 img{
    max-width: 71.271%;
  }
  #wrap #main #section6 .container .right{
    width: 61.091%;
    margin-right: 0px;
  }
  #wrap #main #section6 .container .left h2{
    padding-bottom: 12.707%;
  }
  #wrap #main #section6 .container .left h3{
    padding-bottom: 11.049%;
  }


  #wrap #footer .container .top{
    padding-bottom: 30px;
  }
  #wrap #footer .container .top .wrap ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  #wrap #footer .container .top .wrap ul li{
    width: 33.3333%;
    margin-bottom: 30px;
  }
  #wrap #footer .container .middle .wrap {
    width: 90%;
    flex-wrap: wrap;
  }
  #wrap #footer .container .middle .wrap span{
    width: auto;
    margin: 10px auto;
  }
  #wrap #footer .container .bottom ul li:nth-child(1) div{
    padding: 0 10px;
  }
  #wrap #footer .container .bottom ul li:nth-child(1) div span{
    margin: 10px 0;
  }
  #wrap #footer .container .bottom ul li address{
    padding: 0 20px;
  }


}

@media (max-width:1200px){
  #wrap #main #section1 .container .img1 {
    width: 29.818%;
    left: 0.091%;
    bottom: 70.957%;
  }
  #wrap #main #section1 .container .img2 {
    width: 39.545%;
    left: 11.545%;
    bottom: 11.93%;
  }
  #wrap #main #section1 .container .img3 {
    width:32.454%;
    left: 46.272%;
    bottom: 10.675%;
  }
  #wrap #main #section1 .container .img4 {
    width: 40.727%;
    right: -8.272%;
    bottom: 9.105%;
  }
  #wrap #main #section1 .container .img5 {
    left: 9.181%;
    bottom: 58.555%;
  }
  
}

@media (max-width:1130px) {
  #wrap #header .container #nav_box {
    width: auto;
    float: right;
  }
  #wrap #header .container #nav_box #nav > ul > li .sub .sub_top {
    padding: 15px 15px 20px;
  }
  #wrap #header .container #nav_box #nav > ul > li .sub .sub_bottom {
    padding: 25px 15px 15px;
  }

  #wrap #main #section2 #notice .container {
    padding: 0 15px;
  }
  #wrap #main #section2 #slide .container2 .slide_container > span {
    background: #fff;
    border-radius: 50%;
  }
  #wrap #main #section2 #slide .container2 .slide_container .next_btn_box {
    left: calc(100% - 75px);
    margin: -57.5px 0 0 0;
  }
  #wrap #main #section2 #slide .container2 .slide_container .prev_btn_box {
    right: calc(100% - 75px);
    margin: -57.5px 0 0 0;
  }

  #wrap #main #section5.show::after{
    background: url(../img/reserve_christmas_bean_211018.jpg) no-repeat 50% center;
    background-size: auto 100%;
  }
  #wrap #main #section5 .container .title{
    width: 67%;
    margin: 0 auto;
    padding-top: 0;
  }
  #wrap #main #section5 .container .title p a{
    margin-left: 0;
  }


}

@media (max-width:1080px){
  #wrap #main #section4 .container .img_box{
    max-width: 44.814%;
  }
  #wrap #main #section4 .container .txt_box{
    max-width: 29.351%;
  }
  #wrap #main #section4 .container .txt_box .wrap p{
    padding-top: 12.618%;
  }
}

@media (max-width:1020px){
  #wrap #main #section3 .container .left{
    width: 43%;
    text-align: center;
    padding-top: 30px;
  }
  #wrap #main #section3 .container .left .gap .content h2 img{
    width: 248px;
  }
  #wrap #main #section3 .container .right{
    width: 57%;
  }
  #wrap #main #section3 .container .right br:not(.las_br){
    display: block;
  }
  #wrap #main #section3 .container .right .top{
    width: 100%;
    display: block;
  }
  #wrap #main #section3 .container .right .top .top_right .content{
    margin-top: 15px;
  }
  #wrap #main #section3 .container .right .bottom{
    width: 100%;
    display: block;
  }
  #wrap #main #section3 .container .right .bottom .bot_right .content{
    margin-top: 20px;
  }
}

@media (max-width:960px) {
  #wrap #header {
    height: 70px;
    border-top: 0;
  }
  #wrap #header .container #logo_box {
    width: 50px;
    margin-left: 10px;
  }
  #wrap #header .container #logo_box h1 {
    line-height: 60px;
  }
  #wrap #header .container #nav_box #aside{
    display: none;
  }
  #wrap #header .container #nav_box #nav{
    display: none;
  }
  #mob_nav_box{
    display: block;
  }
  #wrap #main {
    margin-top: 70px;
  }
  #wrap #main #section4.move .container .img_box{
    right: 41.5%;
  }


  #wrap #main #section8 {
    height: auto;
  }
  #wrap #main #section8 .container {
    background-position:  32% 45%,  80% 100%;
    background-size: 270px auto, 170px auto;
    padding: 0 0 100px;
  }
  #wrap #main #section8 .container .wrap{
    display: block;
  }
  #wrap #main #section8 .container .wrap .left{
    position: relative;
    left: -40px;
    display: flex;
    margin-left: 0;
    margin: 0 auto 150px;
  }
  #wrap #main #section8 .container .wrap .left span{
    margin: auto -90px -96px auto;
  }
  #wrap #main #section8 .container .wrap .right{
    margin: 0 auto;
  }
  #wrap #main #section8 .container .wrap .right p{
    text-align: center;
    padding-top: 30px;
  }
  #wrap #main #section8 .container .wrap .right p a{
    margin-left: 0;
  }

  .mobile{
    display: block;
  }
 
}

@media (max-width:930px){
  #wrap #main #section7 {
    height: auto;
    padding: 60px 0;
    background-position: 52% 50px;
    background-size: auto 53%;
  }
  #wrap #main #section7 .container {
    flex-direction: column;
  }
  #wrap #main #section7 .container .left{
    max-width: 80%;
    margin: 10.757% auto 10.757%;
    padding-top: 3.763%;
  }
  #wrap #main #section7 .container .right{
    width: 70%;
    margin: 0 auto;
  }
  #wrap #main #section7 .container .left p a{
    margin-left: 0;
  }
  #wrap #main #section7 .container .left p{
    padding-top: 3.440%;
  }
}

@media (max-width:819px) {
  #wrap #main #section2 #slide .container2 .slide_container .slide_view {
    width: 90%;
  }
}

@media (max-width:800px){
  #wrap #main #section1 .container .img1 {
    left: 4.09%;
    bottom: 70.957%;
  }
  #wrap #main #section1 .container .img2 {
    left: 3.545%;
    bottom: 11.93%;
  }
  #wrap #main #section1 .container .img3 {
    left: 39.272%;
    bottom: 10.675%;
  }
  #wrap #main #section1 .container .img4 {
    right: -4.272%;
    bottom: 9.105%;
  }
  #wrap #main #section1 .container .img5 {
    left: 9.181%;
    bottom: 58.555%;
  }

  #wrap #main #section3 .container .left{
    width: 45%;
  }
  #wrap #main #section3 .container .right{
    width: 55%;
  }
}

@media (max-width:720px){
  #wrap #main #section3 .container .left .gap .content h2 img{
    max-width: 99.2%;
  }
}

@media (max-width:660px){
  #wrap #main #section2 #notice {
    height: 220px;
    background: linear-gradient(180deg, #111 50%, #f6f5ef 50%);
  }
  #wrap #main #section2 #notice .container .notice_box {
    float: none;
    width: 100%;
    height: 50%;
    padding: 43px 10px 43px 80px;
  }
  #wrap #main #section2 #notice .container .notice_box .notice_title {
    left: 30px;
    top: 50%;
    margin-top: -17px;
    width: 33px;
  }
  #wrap #main #section2 #notice .container .notice_box .notice_title img:nth-child(1) {
    display: none;
  }
  #wrap #main #section2 #notice .container .notice_box .notice_title img:nth-child(2) {
    display: block;
  }
  #wrap #main #section2 #notice .container .notice_box .notice_list {
   position: relative;
   z-index: 1;
  }
  #wrap #main #section2 #notice .container .notice_box .notice_detail {
    right: 15px;
    top: 50%;
    margin-top: -32px;

  }
  #wrap #main #section2 #notice .container .prom_box {
    float: none;
    width: 100%;
    height: 50%;
    display: flex;
  }
  #wrap #main #section2 #notice .container .prom_box > div {
    margin:  auto;
    width: 234px;
    height: 36px;
  }

  #wrap #footer {
    padding: 0px 0 34px;
  }
  #wrap #footer .container .top{
    padding-bottom: 0;
  }
  #wrap #footer .container .top .wrap ul{
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  #wrap #footer .container .top .wrap ul li{
    width: 100%;
    margin-bottom: 0;
  }
  #wrap #footer .container .top .wrap ul li dl{
    width: 100%;
  }
  #wrap #footer .container .top .wrap ul li dl dt{
    line-height: 50px;
    background: #554c46 url(../img/mobile_footer_arrow_down.png) no-repeat 98% 50%;
    background-size: auto 11px;
  }
  #wrap #footer .container .top .wrap ul li dl dt.show{
    background-image: url(../img/mobile_footer_arrow_up.png);
  }
  #wrap #footer .container .top .wrap ul li dl dt a{
    display: block;
    color: #eee;
    font-size: 14px;
    padding: 0 10px;
  }
  #wrap #footer .container .top .wrap ul li dl dd{
    position: relative;
    line-height: 50px;
    background: #645952;
    display: none;
  }
  #wrap #footer .container .top .wrap ul li dl dd.mobile_arrow::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/mobile_footer_arrow_down.png) no-repeat 98% 50%;
    background-size: auto 11px;
    opacity: 0.5;
  }
  #wrap #footer .container .top .wrap ul li dl dd a{
    position: relative;
    display: block;
    z-index: 2;
    font-size: 13.8px;
    color: #e6dbd3;
    padding: 0 10px;
  }
  #mobile_menu .m_container > ul > li > form div{
    width: 300px;
  }
  #mobile_menu .m_container > ul > li > form div input{
    width: 192px;
  }
  #mobile_menu .m_container > ul > li > form div button{
    width: 100px;
    font-size: 20px;
  }
  #mobile_menu .m_container > ul > li > a{
    font-size: 20px;
  }
  #mobile_menu .m_container > ul > li > .mob_sub > ul > li > a{
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width:640px){
  #wrap #main #section1 {
    height: auto;
    padding: 40px 0;
  }
  #wrap #main #section1 .container .img {
    position: relative;
    display: block;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  #wrap #main #section1 .container .img1 {
    left:0;
    padding: 30px 0;
  }
  #wrap #main #section1 .container .img2 {
    left:0;
    padding: 30px 0;
  }
  #wrap #main #section1 .container .img3 {
    left:0;
    padding: 30px 0;
  }
  #wrap #main #section1 .container .img4 {
    right: 0;
    padding: 30px 0;
  }
  #wrap #main #section1 .container .img5 {
    width: 129px;
    left:0;
    margin: 40px auto;
  }
  #wrap #main #section1 .container .img img{
    width: 60%;
  }
  #wrap #main #section3 .container {
    width: 100%;
    display: block;
    padding: 0 32px;
    text-align: center;
  }
  #wrap #main #section3 .container .left{
    width: 100%;
    padding-bottom: 30px;
  }
  #wrap #main #section3 .container .left .gap .content h2 img{
    max-width: 58.064%;
  }
  #wrap #main #section3 .container .right{
    width: 100%;
    padding: 0;
  }
  #wrap #main #section3 .container .right br:not(.fir_br){
    display: block;
  }
  #wrap #main #section3 .container .right br.fir_br{
    display: none;
  }
  #wrap #main #section3 .container .right .top .top_right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #wrap #main #section3 .container .right .top .top_left .content h3{
    font-size: 20px;
    line-height: 1.4;
  }
  #wrap #main #section3 .container .right .top .top_left .content p{
    font-size: 14px;
    line-height: 1.6;
  }
  #wrap #main #section3 .container .right .top .top_right .content{
    width: 183px;
  }
  #wrap #main #section3 .container .right .bottom .bot_right{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #wrap #main #section3 .container .right .bottom .bot_right .content{
    width: 183px;
  }
  #wrap #main #section3 .container .right .bottom .bot_left .content p {
    font-size: 14px;
    line-height: 1.6;
  }

  #wrap #main #section4 {
    height: auto;
    padding: 100px 0;
  }
  #wrap #main #section4 .container .img_box{
    position: relative;
    top: 140px;
    left: 0;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
  }
  #wrap #main #section4.move .container .img_box{
    right:0;
  }
  #wrap #main #section4 .container .img_box .wrap h2 img{
    padding: 0 0 0 30px;
  }
  #wrap #main #section4 .container .txt_box{
    position: relative;
    max-width: 60%;
    top: 120px;
    left: 0;
    height: auto;
    margin: 0 auto;
  }
  #wrap #main #section4.move .container .txt_box{
    left: 0;
  }
  #wrap #main #section4 .container .txt_box .wrap p{
    display: flex;
    justify-content: center;
  }

  #wrap #main #section6 {
    height: auto;
    padding: 60px 0;
  }
  #wrap #main #section6 .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  #wrap #main #section6 .container .left{
    width: 50%;
    text-align: center;
  }
  #wrap #main #section6 .container .right{
    width: 80%;
    margin-bottom: 12.5%;
  }
  #wrap #main #section6 .container .left h2{
    padding-bottom: 12.707%;
  }
  #wrap #main #section6 .container .left h3{
    padding-right: 11.375%;
    padding-bottom: 11.049%;
  }

  #wrap #main #section8 .container {
    background-position:  20% 45%,  90% 100%;
    background-size: 270px auto, 170px auto;
  }
  #wrap #main #section8 .container .wrap .left{
    width: 57.188%;
    height: 312px;
    background: url(../img/store_exp_img02.png) no-repeat 0% 0%;
    background-size: 100% auto;
  }
  #wrap #main #section8 .container .wrap .left span{
    display: block;
    width: 62.295%;
    margin: auto -21.858% -21.858% auto;
  }
  #wrap #main #section8 .container .wrap .left span img{
    width: 100%;
  }
  #wrap #main #section8 .container .wrap .right{
    width: 60.156%;
  }
  #wrap #main #section8 .container .wrap .right h3 img{
    width: 95.064%;
  }
}

@media (max-width:600px){
  #wrap #main #section9 .container h2 a{
    font-size: 20px;
  }
}

@media (max-width:500px){
  #wrap #main #section5 .container .title{
    width: 85%;
  }
  #wrap #main #section9 .container h2 a{
    font-size: 16px;
  }
  #mobile_menu .m_container > ul > li > form{
    height: 70px;
  }
  #mobile_menu .m_container > ul > li > form div{
    width: 220px;
    height: 30px;
  }
  #mobile_menu .m_container > ul > li > form div input{
    width: 142px;
    font-size: 14px;
  }
  #mobile_menu .m_container > ul > li > form div button{
    width: 70px;
    font-size: 16px;
  }
  #mobile_menu .m_container > ul > li > a{
    font-size: 15px;
    height: 50px;
    line-height: 49px;
    padding: 0 0 0 14px;
    background-size: 16px auto;
    background-position: 94% 50%;
  }
  #mobile_menu .m_container > ul > li:nth-child(2) > a{
    background-size: 16px auto;
    background-position: 94% 50%;
  }
  #mobile_menu .m_container .close_box{
    left: -45px;
    top: 25px;
    width: 20px;
    height: 20px;
  }
  #mobile_menu .m_container > ul > li > .mob_sub > ul > li > a{
    font-size: 14.3px;
    height: 50px;
    line-height: 49px;
    font-weight: 400;
    padding: 0 0 0 18px;
    letter-spacing: -0.3px;
  }
  #mobile_menu .m_container > ul > li > .mob_sub > ul > li > a.sub_arrow::after{
    width: 16px;
    height: 12px;
    background-size: 16px auto;
  }
  #mobile_menu .m_container > ul > li > .mob_sub > ul > li > .mob_sub_sub > ul > li > a{
    height: 30px;
    line-height: 30px;
    color: #999;
    background: #222;
    font-size: 13.6px;
    padding: 0 0 0 26px;
  }
}


@media (max-width:400px){
  #wrap #main #section4 {
    padding: 65px 0;
  }
  #wrap #main #section4 .container .img_box{
    top: 90px;
  }
  #wrap #main #section4 .container .txt_box{
    top: 90px;
  }
  #wrap #main #section4 .container .img_box .wrap h2 img{
    padding: 0 0 0 40px;
  }
  #wrap #main #section9 .container h2 a{
    font-size: 14px;
  }
}